@import "./variables.scss";
@import "./mixins.scss";

body {
    background-color: $color-background;

    .container-global {
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        a {
            color: black;
    
            &:hover {
                text-decoration: none;
                color: $color-secondary;
            }
        }
    
        .active a{
            color: $color-secondary!important;
        }
    
        .nav{
            background-color: $color-primary;
            box-shadow: 0px 2px 6px 0px grey;
            font-weight: 700;
    
            &__logo{
                height: 40px;
                width: auto;
                padding-bottom: 5px;
            }
        }
        
        main {
            flex: 1;
            padding: 15px;
            background-color: $color-background;
    
            h1 {
                font-size: 2em;
            }
        }
    
        footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 56px;
            padding: 15px;        
    
            a {
                margin-right: 20px;
            }
        }
    }
}