@import "./variables.scss";

html, body {
    margin: 0;
    padding: 0;

    .header {
        background-color: $color-primary;
    }

    .main {

        h1 {
            margin: 20px 0 30px 10px;
            font-size: 1.8em;
            font-family: 'Akaya Telivigala', cursive;

            i {
                margin: 0 20px 0 0;
            }
        }

        .warning-none, .success-none, .result-input-none, .btn-none, .get-basket-none {
            display: none;
        }

        .warning-view, .success-view, .btn-view, .get-basket-view {
            display: block;
        }

        .result-input-view {
            display: inline-block;
        }

        .quantity-check {
            color: green;
        }

        .quantity-error {
            color: red;
        }

        .result-input-error {
            color: red;
            font-weight: bold;
        }

        .cards-list {
            margin: 30px 0 0 0;

            .card-list {
                display: flex;
                justify-content: center;

                .cards-container {
                    margin: 0 20px 20px 0;
    
                    .card-price {
                        position: absolute;
                        right: 2%;
                        top: 2%;
                        padding: 5px 20px 5px 20px;
                        background-color: #D4EDDA;
                        color: #588C64;
                        border: 1px solid #C3E6CB;
                        border-radius: 5px 0 5px 0;
                    }
                    
                    .cards-picture {
                        object-fit: cover;
                    }
                }
            }
        }

        .card-basket {
            margin: 15px;
        }

        .badge-price {
            padding: 10px;
            margin: 0 0 10px 0;
            font-size: 13px;
        }

        #panier-container {
            display: flex;
            justify-content: center;
        }
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 56px;
        box-shadow: 0px -2px 6px 0px $color-primary;
        & a{
            margin: 0 10px;
        }
    }
}